<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <connectionStrings>
    <add name="PhotoDiary" connectionString="server=.;database=PhotoDiary;integrated security=true;"
      providerName="System.Data.SqlClient" />
    <add name="PhotoDiary.Properties.Settings.PhotoDiaryConnectionString"
      connectionString="Data Source=ADMIN-PC;Initial Catalog=PhotoDiary;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
</configuration>